.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
lbp_data/patch_images
lbp_data/patch_images/*
lightning_logs/*
*/__pycache__/*
*/*/__pycache__/*
__pycache__/*
*/saved_models/*
*/data/*
*/MNIST/*
*/lightning_logs/*
*/cifar-10-batches-py/*
*/cifar-10-python.tar.gz
contra_logs/*
saved_models/*
tuning_logs/*
wandb/*
